.book {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
  height: 25%;
  font-size: 70%;
  margin: 10px;
}

.cover {
  height: 70%;
}

.book-info {
  width: 50%;
}

.book-details {
  padding: 3.5px;
  margin: 0;
  background: transparent;
}

.buttons {
  border-radius: 15px;
  font-size: 75%;
  height: 25%;
  margin-right: 10px;
}
