.form {
  dispay: flex;
  flex-direction: column;
  position: relative;
}

form {
  margin: auto;
  height: 100vh;
  width: 50vw;
  vertical-align: baseline;
  margin-top: 20%;
}

#header {
  margin-top: 25px;
  text-align: center
}
